# api
API_PORT=8000
API_HOST=localhost

API_SECRET_KEY=your_secret-key
API_ALGORITHM=HS256
API_ACCESS_TOKEN_EXPIRE_MINUTES=10
API_REFRESH_TOKEN_EXPIRE_MINUTES=21600  # 15 days

# frontend
FRONTEND_PORT_PRIVATE=5173
FRONTEND_PORT_PUBLIC=5173

# database
DATABASE_PORT_PRIVATE=5432
DATABASE_PORT_PUBLIC=5432

DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=memorizer_db

# file storage
FILE_STORAGE_USER=user
FILE_STORAGE_PASSWORD=password                                                   
FILE_STORAGE_PORT_PRIVATE=9000
FILE_STORAGE_PORT_PUBLIC=9000                                                     
FILE_STORAGE_BUCKET=airbim                                                          
FILE_STORAGE_INTERNAL_ENDPOINT=http://storage:${FILE_STORAGE_PORT_PRIVATE}              # use to access inside docker network
FILE_STORAGE_EXTERNAL_ENDPOINT=http://localhost:${FILE_STORAGE_PORT_PUBLIC}            # use to act outside docker network (e.g. presigned URLs or web browser)
